.form-control-custom[readonly] {
    background-color: #e2e8f0; 
    color: #718096;            
    cursor: not-allowed;       
    border-color: #cbd5e0;
}
.header-controls {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
}

.title-section h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
    font-weight: 800; 
}

.controls-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}


.btn-design {
    height: 45px;            
    padding: 0 25px;
    border: none;
    border-radius: 12px;     
    color: white;
    font-size: 13px;
    font-weight: 800;        
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: uppercase; 
}

.btn-solid-custom {
    background-color: #38C1A3; 
}

.btn-solid-custom:hover {
    background-color: #32ac91;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
