@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

/* Configuración de Escaneo Tailwind v4 */
@source "../../resources/**/*.{js,jsx,blade.php}";
@source "../js/**/*.{js,jsx}";
@source "../views/**/*.blade.php";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-brandTeal: #4BB7AE;
    --color-brandCoral: #EF5D7A;
    --color-brandAqua: #A5EFE2;
    --color-darkText: #2D3748;

    --color-primary: #4BB7AE;
    --color-secondary: #EF5D7A;
}

/* Importaciones de CSS global */
@import "./global.css";
@import "./principal.css";
@import "./sidebar.css";
@import "./calendario.css";
@import "./welcome.css";

@import "../../node_modules/select2/dist/css/select2.min.css";
@import "./select2-custom.css";
