/* estilos header */

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Estilos para el footer */
.site-footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.site-footer p {
    margin: 10px 0;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}